/* PALETTE
#B5E61D bg green
#22B14C dark green
#FFFE91 light yellow
#B97A57 Brown*/

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: "MS Gothic";
    src: url(fonts/MS-Gothic/MSGOTHIC.TTF);
}

/*image classes*/

.stamp{
    height: 56px;
    width: 99px;
    margin-right: 5px;
}

/*html stuff*/

body{
    background-color: #B5E61D;
}

#body{
    background-color: white;
    height: fit-content;
    border-radius: 30px;
    width: 60%;
    margin: auto;
    padding: 1rem;
}

header{
    background-image: linear-gradient(to right,#FFFE91, white);
    color: #B5E61D;
    border-radius: 40px;

    font-family: "MS Gothic";

    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p{
        font-size: 75px;
        margin: auto;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    height: 10rem;

}

#stamp-container{
    background-color: #B5E61D; 
    padding: 1rem; 
    border-radius: 20px;
    margin-top: 1rem;
}

#stamp-marquee{
    background-color: white;
    padding: 10px;
    border-radius: 20px;

    height: 57px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;

    user-select: none;
}

#stamp-holder{
    animation: stamp-scroll 20s infinite linear;
    display: flex;
}

#stamp-holder:hover{
    animation-play-state: paused;
}

/*animations*/
@keyframes stamp-scroll {
    0%{
        transform: translateX(80%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media (prefers-reduced-motion: reduce) {
  #stamp-holder {
    animation: none;
  }
}


/*#decoracion{
    padding: 5px;
    background-image: linear-gradient(to right,#FFFE91, white);
    border-radius: 20px;
}*/