@font-face {
    font-family: "MSGothic";
    src: url(/fonts/MS-Gothic/MSGOTHIC.TTF);
}

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:link{
    color: plum;
}

a:visited{
    color: plum;
}

::selection {
  color: white;
  background: rgb(221, 160, 185);
}

/*classes*/

.holder{
    background-color: pink;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;

    h3{
        margin: 0;
        margin-bottom: 1rem;
    }
}

.character-holder{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.character{
    background-color: white;
    border: 2px palevioletred solid;
    width: 7rem;
    height: 9.5rem;
    border-radius: 10px;

    padding: 5px;
    text-align: center;

    font-family: "MSGothic";

    img{
        height: 100px;
        width: 100px;
    }
    p{
        margin-top: 5px;
        margin-bottom: 0;
    }
}

/*other*/

html{
    background-image: url("/imgs/Background2.png");
    background-repeat: repeat;
    background-size: 250px;

    scroll-behavior: smooth;
}

body{
    margin-top: 3rem;

    font-family: "DotGothic16", sans-serif;
    color: palevioletred;
}

hr{
    border: 2px pink dashed;
}

main{
    width: 50%;
    margin: auto;
}

aside{
    background-color: white;
    border: 2px pink solid;
    border-radius: 20px;

    padding: 1rem;
    padding-left: 0;

    position: fixed;
    left: 16rem;
}

footer{
    padding: 1rem;
    background-color: white;
}