/* PALETTE
#B5E61D bg green
#22B14C dark green
#FFFE91 light yellow
#B97A57 Brown

#E8F5E9 White
#A5D6A7 light green
#66BB6A green
#1B5E20 dark green

#EBF9DC White
#C9ED97 light green
#B6E264 green
#6C9543 dark green
*/

@font-face {
    font-family: "MS Gothic";
    src: url(fonts/MS-Gothic/MSGOTHIC.TTF);
}

::selection {
  color: white;
  background: #B6E264;
}

/*image classes*/

.stamp{
    height: 56px;
    width: 99px;
    margin-right: 5px;
}

/*html stuff*/

body{
    background-color: #bee68a;
}

#body{
    background-color: #EBF9DC;
    height: fit-content;
    border-radius: 30px;
    width: 60%;
    margin: auto;
    padding: 1rem;
}

header{
    background-image: linear-gradient(to right,#B6E264, #EBF9DC);
    color: #EBF9DC;
    border-radius: 40px;

    font-family: "MS Gothic";

    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p{
        font-size: 75px;
        margin: auto;
        margin-left: 10px;
    }
    height: 10rem;

}

#stamp-container{
    background-color: #C9ED97; 
    padding: 1rem; 
    border-radius: 20px;
    margin-top: 1rem;
}

#stamp-marquee{
    background-color: #EBF9DC;
    padding: 10px;
    border-radius: 20px;

    height: 57px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;

    user-select: none;
}

#stamp-holder{
    animation: stamp-scroll 20s infinite linear;
    display: flex;
}

#stamp-holder:hover{
    animation-play-state: paused;
}

main{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

nav{
    background-color: #B6E264;
    padding: 1rem;

    border-radius: 20px;

    width: 20rem;
    height: fit-content;

    font-family: "MS Gothic";

    ul{
        list-style-type: none;
    }

    #nav-title{
        background-image: linear-gradient(to right, #EBF9DC, #B6E264);
        padding: 10px;
        border-radius: 20px;
        height: 2rem;
        color: #6C9543;
        display: flex;
        align-items: center;

        h3{
            margin: 0;
        }
    }

    .nav-item{
        padding: 10px;
        border-radius: 50px;
        text-align: right;
        user-select: none;
        a:link{
            color: black;
        }

        a:visited{
            color: #6C9543;
        }
    }

    #nav-1:hover{
        background-image: linear-gradient(to left, #EBF9DC, #EBF9DC);
        color: #6C9543;
        a:link{
            color: #6C9543;
        }
    }

    #nav-1{
        background-image: linear-gradient(to left, #C9ED97, #B6E264);
    }
}

#persona{
    height: 700px;
    float: left;
}

#buttons{
    background-color: #6C9543;
    border-radius: 50px;
    height: 7rem;
    margin-bottom: 1rem;
}

#info-holder{
    background-color: #C9ED97;
    width: 45rem;
    border-radius: 20px;

    padding: 1rem;


    font-family: "MS Gothic";
}

/*animations*/
@keyframes stamp-scroll {
    0%{
        transform: translateX(80%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media (prefers-reduced-motion: reduce) {
  #stamp-holder {
    animation: none;
  }
}


/*#decoracion{
    padding: 5px;
    background-image: linear-gradient(to right,#FFFE91, white);
    border-radius: 20px;
}*/